
h1 {
  line-height: 150%;
  font-size: 2em;
}
h5 {
  line-height: 100%;
  font-size: 1em;
}
p{
  font-size: 1em;
}

a {
  color:inherit;
}

ol li {
  padding-top: 20px;
}

button {
  background-color: black;
  color:yellow;
  padding: 10px 50px;
  font-size: inherit;

}
body{
  background-color: yellow;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 150%;
}
